.bottom-container {
  color: white;
  background-color: #2f3c93 !important;
  border-right: 11px solid #0584ed;
  border-top: 11px solid #0584ed;
}

.primary-button {
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  background-color: #f07622;
  color: white;
}

.bottom-container-grid {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 50px;
  display: grid;
  grid-template-areas: "ColOne ColTwo";
}

.bottom-container-grid .ColOne {
  grid-area: ColOne;
}

.bottom-container-grid .ColOne p,
button {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 90%;
}

.bottom-container-grid .ColTwo {
  grid-area: ColTwo;
}

.bottom-container-grid .ColTwo p,
button {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 90%;
}

/* classes */
.page-container {
}

.container {
  max-width: 1100px;
}

.container-bleed {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
}

.bg-white {
  background-color: white;
}

#get-a-Provider .white-text-container {
  padding-bottom: 16px;
}

.white-text-container {
  padding: 50px 60px;
}

.white-text-container h2 {
  padding-bottom: 24px;
}

.white-text-container h3 {
  text-align: center;
}

sup {
  font-size: 40%;
  position: absolute;
}

.hcp-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  text-align: center;
  font-weight: bold;
}

.hcp-hero-container .ColOne {
  grid-area: ColOne;
  padding-top: 50px;
}

.hcp-hero-container .ColOne span {
  color: #0584ed;
}

.hcp-hero-container .ColTwo {
  grid-area: ColTwo;
  padding-top: 50px;
  text-align: left;
}

.hcp-coverage-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo ";
}

.hcp-coverage-hero-container .ColOne {
  grid-area: "ColOne";
  max-width: 500px;
}

.hcp-container-second-hero-container .ColOne div,
.hcp-container-second-hero-container .ColTwo div {
  padding: 30px;
}

.hcp-coverage-hero-container .ColTwo {
  grid-area: "ColTwo";
  text-align: center;
}

.hcp-container-second-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  text-align: center;
}

.hcp-container-second-hero-container h1 {
  margin-top: -24px;
}

.hcp-container-second-hero-container h1 span {
  padding: 20px;
  background-color: white;
}

.hcp-container-second-hero-container .ColOne {
  grid-area: ColOne;
  border: 3px solid #0584ed;
  margin: 10px;
}

.hcp-container-second-hero-container .ColTwo {
  grid-area: ColTwo;
  border: 3px solid #0584ed;
  margin: 10px;
}

.hcp-icon-grid-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo ColThree ColFour";
}

.hcp-icon-grid-container .ColOne,
.hcp-icon-grid-container .ColTwo,
.hcp-icon-grid-container .ColThree,
.hcp-icon-grid-container .ColFour {
  max-width: 340px;
}

.hcp-icon-grid-container .ColOne {
  grid-area: ColOne;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColOne button {
  border: none;
  background-color: #002c73;
  color: white;
  padding: 12px 12px;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
}

.hcp-icon-grid-container .ColOne button a h4 {
  color: white;
}

.hcp-icon-grid-container .ColTwo {
  grid-area: ColTwo;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColThree {
  grid-area: ColThree;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColFour {
  grid-area: ColFour;
  padding: 0 25px;
}

.hcp-icon-grid-container ul {
  list-style: none;
}

.hcp-icon-grid-container ul li::before {
  content: "\2022";
  color: #006cbe;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.chart-container a {
  text-decoration: underline;
  color: #99b9d1;
}

.chart-container .white-text-container:first-child {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  padding-top: 12px;
}

.chart-container-bottom-flex {
  display: flex;
  column-gap: 10px;
}

.test-container {
  color: #c01f5d;
}

.chart-container-bottom-flex div {
  padding: 12px 50px;
  width: 100%;
  background-color: #99b9d1;
  text-align: center;
  font-weight: 500;
}

.chart-container-bottom-flex div:hover {
  color: white;
  background-color: #2f3c93;
}

/* Hidden COver Container */
.hidden-cover-container {
  display: none;
}

.two-col-flex {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  column-gap: 40px;
}

.two-col-flex .ColOne {
  grid-area: ColOne;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.two-col-flex .ColTwo {
  grid-area: ColTwo;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.two-col-flex button {
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: #006cbe;
  color: white;
  margin-bottom: 0;
  max-width: 100%;
}

.hidden-non-cover-container {
  display: none;
}

.bg-light {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bg-light-flex {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.bg-light img {
  width: auto;
  height: 50px;
  padding: 0 6px;
  background-color: white;
  border-radius: 100px;
}

.banner-container {
  background-color: #002c73;
  color: white;
  padding: 12px 0;
}

.banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto !important;
}

.banner-flex button {
  background-color: rgb(239, 111, 26);
  border: none;
  font-size: 16px;
  color: white;
  margin-bottom: 0;
  max-width: 100%;
  padding: 10px;
  border-radius: 45px;
}

.blue-box-container {
  border: 5px solid #0584ed;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.blue-box-container h5 {
  padding: 35px;
}

.blue-box-container h2 {
  margin-top: -20px;
}

.blue-box-container span {
  padding: 20px;
  background-color: white;
}

.blue-box-container-half {
  padding: 5px;
  border-left: 5px solid #0584ed;
  border-right: 5px solid #0584ed;
}

.container-inside-text {
  max-width: 600px;
}

.image-icon-grid {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.image-icon-grid ul {
  list-style: none;
}

.image-icon-grid ul ::before {
  content: "\2022";
  font-size: 15px;
  color: #006cbe;
  margin-right: 10px;
}

.image-icon-grid .ColOne {
  grid-area: ColOne;
}

.image-icon-grid .ColOne img {
  width: 500px;
}

.image-icon-grid .ColTwo {
  grid-area: ColTwo;
  max-width: 400px;
}

.image-icon-inner-grid {
}

.ISI {
  font-size: 14px;
}

.hero-banner-container {
  background-color: #002c73;
}

.hero-banner-container h1 {
  color: white;
}

.hero-banner-container p {
  color: white;
}

.hero-banner-container-grid {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  justify-content: space-around;
  padding: 12px 0;
}

.hero-banner-container-grid .ColOne {
  grid-area: ColOne;
}

.hero-banner-container-grid .ColTwo {
  padding-top: 12px;
  grid-area: ColTwo;
  border-left: 3px solid #0087ed;
  padding-left: 24px;
}

.body-banner-grid {
  display: grid;
  grid-template-areas: "ColOne ColTwo ColThree";
  color: white;
}

.body-banner-grid .ColOne {
  grid-area: ColOne;
  background-color: #334782;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-banner-grid .ColTwo {
  grid-area: ColTwo;
  background-color: #0087ed;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-banner-grid .ColThree {
  grid-area: ColThree;
  background-color: #001963;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-banner-grid .ColThree p {
  padding-left: 12px;
}

.HCP-home-hero {
  background-image: url("../img/Rectangle2.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
}

.HCP-pop-up {
  position: absolute;
  right: 35%;
  top: 10%;
  display: none;
  transition: transform 1s;
  transform: translateY(10%);
}

.Pop-up-content {
  background-color: #cce7fb;
  padding: 20px 30px 0 0px;
}

.Pop-up-content button {
  color: white;
  background-color: #001963;
  border-radius: 10px;
  padding: 6px 12px;
  width: 100%;
  border: none;
  font-size: 16px;
}

.pop-up-grid {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
}

.pop-up-grid .ColOne {
  grid-area: ColOne;
  height: 300px;
  overflow: hidden;
}

.pop-up-grid .ColOne img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: 10px 1px; /* try 20px 10px */
}

.pop-up-grid .ColTwo {
  grid-area: ColTwo;
}

.cross-btn {
  background-color: #cce7fb !important;
  width: auto !important;
}

@media only screen and (max-width: 900px) {
  .primary-button {
    font-size: 16px;
  }

  .bottom-container-grid {
    grid-template-areas:
      "ColOne"
      "ColTwo";
    text-align: center;
  }

  .bottom-container-grid .ColOne,
  .ColTwo {
    margin-bottom: 16px;
  }

  .bottom-container-grid .ColOne p,
  button {
    max-width: 100%;
  }
  .bottom-container-grid .ColTwo p,
  button {
    max-width: 100%;
  }

  .hcp-hero-container {
    grid-template-areas: "ColOne";
    text-align: left;
  }

  .hcp-hero-container .ColTwo {
    display: none;
  }

  .hcp-icon-grid-container {
    grid-template-areas:
      "ColOne"
      "ColTwo"
      "ColThree"
      "ColFour";
    row-gap: 30px;
  }

  .chart-container h1 {
    font-size: 24px;
  }

  .chart-container-bottom-flex {
    flex-direction: column;
    row-gap: 10px;
  }

  .two-col-flex {
    grid-template-areas:
      "ColOne"
      "ColTwo";
    row-gap: 40px;
  }

  .two-col-flex .ColOne,
  .two-col-flex .ColTwo {
    max-width: 90%;
    margin: 0 auto;
  }

  .hcp-coverage-hero-container {
    grid-template-areas: "ColOne";
  }

  .hcp-coverage-hero-container .ColOne {
    font-size: 14px;
  }

  .hcp-coverage-hero-container .ColTwo {
    display: none;
  }

  .hcp-container-second-hero-container {
    row-gap: 30px;
    grid-template-areas:
      "ColOne"
      "ColTwo";
  }

  .chart-container .white-text-container {
    padding: 50px 30px;
  }

  .chart-container .hidden-cover-container {
    padding: 0;
  }

  .image-icon-grid {
    text-align: center;
    grid-template-areas: "ColTwo" "ColOne";
  }

  .cologuard-image {
    display: none;
  }

  .image-icon-grid .ColOne img {
    width: 300px;
  }

  .hcp-icon-grid-container .ColOne,
  .hcp-icon-grid-container .ColTwo,
  .hcp-icon-grid-container .ColThree,
  .hcp-icon-grid-container .ColFour {
    max-width: 100%;
  }

  #get-a-Provider .white-text-container {
    padding: 60px 10px 60px 10px;
  }

  .hero-banner-container-grid {
    grid-template-areas: "ColOne" "ColTwo";
  }

  .hero-banner-container-grid .ColTwo {
    padding-top: 12px;
    grid-area: ColTwo;
    border-top: 3px solid #0087ed;
    border-left: none;
    padding-left: 0;
  }

  .hero-banner-container-grid .ColOne {
    padding-bottom: 16px;
  }

  .body-banner-grid {
    grid-template-areas: "ColOne" "ColTwo" "ColThree";
  }

  .body-banner-grid .ColOne,
  .body-banner-grid .ColTwo,
  .body-banner-grid .ColThree {
    margin-bottom: 0;
  }

  .HCP-home-hero {
    background-image: url("../img/Rectangle1.png");
    background-size: cover;
    background-position: center center;
    height: 30vh;
  }
  .pop-up-grid {
    grid-template-areas: "ColTwo" "ColOne";
  }

  .pop-up-grid .ColTwo {
    text-align: center;
  }

  .Pop-up-content {
    padding: 10px !important;
    margin: 10px;
  }

  .HCP-pop-up {
    position: sticky;
    right: 0;
  }
  .pop-up-grid .ColOne img {
    object-position: -30px 1px;
  }
}
