.bottom-container {
  color: white;
  background-color: #2f3c93 !important;
  border-right: 11px solid #0584ed;
  border-top: 11px solid #0584ed;
}

.primary-button {
  padding: 8px 24px;
  border-radius: 20px;
  border: none;
  background-color: #f07622;
  color: white;
}

.bottom-container-grid {
  max-width: 1100px;
  margin: 0 auto;
  padding: 50px 50px;
  display: grid;
  grid-template-areas: "ColOne ColTwo";
}

.bottom-container-grid .ColOne {
  grid-area: ColOne;
}

.bottom-container-grid .ColOne p,
button {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 90%;
}

.bottom-container-grid .ColTwo {
  grid-area: ColTwo;
}

.bottom-container-grid .ColTwo p,
button {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 1.25rem;
  max-width: 90%;
}

/* classes */
.page-container {
}

.container {
  max-width: 1100px;
}

.container-bleed {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 25px;
}

.bg-white {
  background-color: white;
}

.white-text-container {
  padding: 50px 60px;
}

.white-text-container h2 {
  padding-bottom: 24px;
}

.white-text-container h3 {
  text-align: center;
}

sup {
  font-size: 40%;
  position: absolute;
}

.hcp-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  text-align: center;
}

.hcp-hero-container .ColOne {
  grid-area: ColOne;
  padding-top: 50px;
}

.hcp-hero-container .ColOne span {
  color: #0584ed;
}

.hcp-hero-container .ColTwo {
  grid-area: ColTwo;
  padding-top: 50px;
  text-align: left;
}

.hcp-coverage-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo ";
}

.hcp-coverage-hero-container .ColOne {
  grid-area: "ColOne";
  max-width: 500px;
}

.hcp-container-second-hero-container .ColOne div,
.hcp-container-second-hero-container .ColTwo div {
  padding: 30px;
}

.hcp-coverage-hero-container .ColTwo {
  grid-area: "ColTwo";
  text-align: center;
}

.hcp-container-second-hero-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  text-align: center;
}

.hcp-container-second-hero-container h1 {
  margin-top: -24px;
}

.hcp-container-second-hero-container h1 span {
  padding: 20px;
  background-color: white;
}

.hcp-container-second-hero-container .ColOne {
  grid-area: ColOne;
  border: 3px solid #0584ed;
  margin: 10px;
}

.hcp-container-second-hero-container .ColTwo {
  grid-area: ColTwo;
  border: 3px solid #0584ed;
  margin: 10px;
}

.hcp-icon-grid-container {
  display: grid;
  grid-template-areas: "ColOne ColTwo ColThree ColFour";
}

.hcp-icon-grid-container .ColOne {
  grid-area: ColOne;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColOne button {
  border: none;
  background-color: #002c73;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
}

.hcp-icon-grid-container .ColOne button a {
  color: white;
}

.hcp-icon-grid-container .ColTwo {
  grid-area: ColTwo;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColThree {
  grid-area: ColThree;
  padding: 0 25px;
}

.hcp-icon-grid-container .ColFour {
  grid-area: ColFour;
  padding: 0 25px;
}

.hcp-icon-grid-container ul {
  list-style: none;
}

.hcp-icon-grid-container ul li::before {
  content: "\2022";
  color: #006cbe;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.chart-container a {
  text-decoration: underline;
  color: #99b9d1;
}

.chart-container .white-text-container:first-child {
  border-bottom: 1px solid black;
  padding-bottom: 12px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.chart-container-bottom-flex {
  display: flex;
  column-gap: 10px;
}

.test-container {
  color: #c01f5d;
}

.chart-container-bottom-flex div {
  padding: 12px 50px;
  width: 100%;
  background-color: #99b9d1;
  text-align: center;
  font-weight: 500;
}

.chart-container-bottom-flex div:hover {
  color: white;
  background-color: #2f3c93;
}

/* Hidden COver Container */
.hidden-cover-container {
  display: none;
}

.two-col-flex {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  column-gap: 40px;
}

.two-col-flex .ColOne {
  grid-area: ColOne;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.two-col-flex .ColTwo {
  grid-area: ColTwo;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.two-col-flex button {
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 16px;
  border: none;
  background-color: #006cbe;
  color: white;
  margin-bottom: 0;
  max-width: 100%;
}

.hidden-non-cover-container {
  display: none;
}

.bg-light {
  padding-top: 8px;
  padding-bottom: 8px;
}

.bg-light-flex {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.bg-light img {
  width: auto;
  height: 50px;
  padding: 0 6px;
  background-color: white;
  border-radius: 100px;
}

.banner-container {
  background-color: #002c73;
  color: white;
  padding: 12px 0;
}

.banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto !important;
}

.banner-flex button {
  background-color: rgb(239, 111, 26);
  border: none;
  font-size: 16px;
  color: white;
  margin-bottom: 0;
  max-width: 100%;
  padding: 10px;
  border-radius: 45px;
}

.blue-box-container {
  border: 5px solid #0584ed;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.blue-box-container h5 {
  padding: 35px;
}

.blue-box-container h2 {
  margin-top: -20px;
}

.blue-box-container span {
  padding: 20px;
  background-color: white;
}

.blue-box-container-half {
  padding: 5px;
  border-left: 5px solid #0584ed;
  border-right: 5px solid #0584ed;
}

.container-inside-text {
  max-width: 600px;
}

.image-icon-grid {
  display: grid;
  grid-template-areas: "ColOne ColTwo";
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
}

.image-icon-grid ul {
  list-style: none;
}

.image-icon-grid ul ::before {
  content: "\2022";
  font-size: 15px;
  color: #006cbe;
  margin-right: 10px;
}

.image-icon-grid .ColOne {
  grid-area: ColOne;
}

.image-icon-grid .ColOne img {
  width: 500px;
}

.image-icon-grid .ColTwo {
  grid-area: ColTwo;
  max-width: 400px;
}

.image-icon-inner-grid {
}

.ISI {
  font-size: 14px;
}

@media only screen and (max-width: 900px) {
  .primary-button {
    font-size: 16px;
  }

  .bottom-container-grid {
    grid-template-areas:
      "ColOne"
      "ColTwo";
    text-align: center;
  }

  .bottom-container-grid .ColOne,
  .ColTwo {
    margin-bottom: 16px;
  }

  .bottom-container-grid .ColOne p,
  button {
    max-width: 100%;
  }
  .bottom-container-grid .ColTwo p,
  button {
    max-width: 100%;
  }

  .hcp-hero-container {
    grid-template-areas: "ColOne";
    text-align: left;
  }

  .hcp-hero-container .ColTwo {
    display: none;
  }

  .hcp-icon-grid-container {
    grid-template-areas:
      "ColOne"
      "ColTwo"
      "ColThree"
      "ColFour";
    row-gap: 30px;
  }

  .chart-container h1 {
    font-size: 24px;
  }

  .chart-container-bottom-flex {
    flex-direction: column;
    row-gap: 10px;
  }

  .two-col-flex {
    grid-template-areas:
      "ColOne"
      "ColTwo";
    row-gap: 40px;
  }

  .two-col-flex .ColOne,
  .two-col-flex .ColTwo {
    max-width: 90%;
    margin: 0 auto;
  }

  .hcp-coverage-hero-container {
    grid-template-areas: "ColOne";
  }

  .hcp-coverage-hero-container .ColOne {
    font-size: 14px;
  }

  .hcp-coverage-hero-container .ColTwo {
    display: none;
  }

  .hcp-container-second-hero-container {
    row-gap: 30px;
    grid-template-areas:
      "ColOne"
      "ColTwo";
  }

  .image-icon-grid {
    text-align: center;
    grid-template-areas: "ColTwo" "ColOne";
  }

  .cologuard-image {
    display: none;
  }
}
