* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Whyte";
  src: url("../Whyte-Super.eot");
  src: local("Whyte Super"), local("Whyte-Super"),
    url("Whyte-Super.eot?#iefix") format("embedded-opentype"),
    url("Whyte-Super.woff2") format("woff2"),
    url("Whyte-Super.woff") format("woff"),
    url("Whyte-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  src: url("../Whyte-Super.ttf");
  src: local("Whyte Super"), local("Whyte-Super"),
    url("Whyte-Super.eot?#iefix") format("embedded-opentype"),
    url("Whyte-Super.woff2") format("woff2"),
    url("Whyte-Super.woff") format("woff"),
    url("Whyte-Super.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Whyte Super", sans-serif;
  font-weight: normal;
  color: black;
  line-height: 1.5;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: #002c73;
}

.mb-24 {
  margin-bottom: 24px !important;
}
.mt-24 {
  margin-top: 24px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}
.pt-24 {
  padding-top: 24px !important;
}

.pl-12 {
  padding-left: 12px !important;
}
.pt-12 {
  padding-top: 12px !important;
}
.pb-12 {
  padding-bottom: 12px !important;
}

.p20 {
  padding: 20px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.pl-24 {
  padding-left: 24px;
}

.bg-light {
  background-color: #0087ed;
  color: white;
}

.cl-white {
  color: white !important;
}

@media only screen and (min-width: 800px) {
  .container {
    padding: 0 50px;
    margin: 0 auto 1rem auto;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
